/* source-serif-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/source-serif-pro-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./fonts/source-serif-pro-v15-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/source-serif-pro-v15-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/source-serif-pro-v15-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/source-serif-pro-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/source-serif-pro-v15-latin-700.svg#SourceSerifPro")
      format("svg"); /* Legacy iOS */
}

/* yellowtail-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/yellowtail-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/yellowtail-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/yellowtail-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/yellowtail-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/yellowtail-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/yellowtail-v18-latin-regular.svg#Yellowtail") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v34-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v34-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v34-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans-v34-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./fonts/open-sans-v34-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v34-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v34-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

/* img {
  background: #a2b5bb;
} */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: end;
  background: none;
}

.ilogo {
  width: 60px;
  transition: transform 0.3s ease-in-out;
}

.ilogo:hover {
  transform: rotate(180deg);
}

.logotext {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  margin-left: 10px;
}

.yellowtail {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.menu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: black;
  display: flex;
  list-style-type: none;
  text-align: right;

  align-items: center;
  margin-right: 0px;
}

.menu > li:last-child {
  margin-right: 0px;
}

.menu > li {
  margin: 20px;
  text-decoration: none;
}

.menu a:link,
.menu a:visited {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(223, 113, 27);
  text-decoration: none;
}

#activo {
  color: rgb(24, 69, 199);
  text-decoration: none;
}

/* Swiper */
.swiper-container {
  overflow: hidden;
  margin-top: 30px;
  position: relative;
}

.swiper-container img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgb(24, 69, 199);
}

.swiper-pagination-bullet-active {
  background: rgb(24, 69, 199) !important;
}

/* Sect Categorias Index */
.h2center {
  text-align: center;
  line-height: 8px;
  margin: 30px;
}

.link {
  font-size: 12px;
  text-decoration: none;
}

.link:visited {
  color: rgb(24, 69, 199);
  text-decoration: none;
  font-size: 12px;
}

.link:hover {
  color: rgb(223, 113, 27);
  text-decoration: none;
  font-size: 12px;
}

.categorias {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  padding: 30px;
  padding-bottom: 80px;
}

.section-a,
.section-b {
  max-width: 400px;
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}

.categoimg {
  max-width: 100%;
  height: 80%;
  object-fit: cover;
}

/* -----Catlista-------*/

.cat {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.column1 {
  width: 50%;
  box-sizing: border-box;
}

.column2 {
  width: 50%;
  box-sizing: border-box;
}

.imglist {
  max-width: 380px;
}

/* -----Presentación------- */
.presentacion {
  display: block;
  text-align: center;
}

.presentacion > h2 {
  text-align: center;
  margin-top: 20px;
}

.presentacion > p {
  font-size: 12px;
  text-align: left;
}

.presentimg {
  width: 60%;
  height: 30%;
  object-fit: contain;
}

.video,
figcaption {
  display: block;
  align-items: center;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

#animacioncss {
  width: 130px;
  margin: 0 auto;
}

#animacioncss svg {
  width: 100%;
}

#animacioncss.fin .path-1 {
  stroke-dashoffset: 0;
}

.path {
  fill: none;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;
  transition: 5s linear;
}

/* -----Referencias------- */

.referencias {
  background-color: rgb(242, 242, 242);
  height: 550px;
  padding: 40px;
  margin-top: 20px;
}

.referencias > h2 {
  text-align: center;
  margin-top: 20px;
}

.referencias,
.reflist > p {
  font-size: 12px;
}

.ref {
  text-decoration: none;
  color: rgb(24, 69, 199);
  font-size: 12px;
}

/* -----Zonas------- */
.breadcrumbs {
  font-size: 10px;
  margin-top: 30px;
  font-weight: 400;
}

.bread {
  color: black;
}

.zonas > h2 {
  text-align: center;
}

.zonas > p,
div {
  font-size: 12px;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
}

.sectimgderech {
  display: flex;
  justify-content: space-between;
}

.secttext {
  width: 60%;
  box-sizing: border-box;
}

.sectimg {
  width: 40%;
  box-sizing: border-box;
  align-items: end;
}

.imgzonas {
  max-width: 350px;
  margin-left: 20px;
}

.sectimgizq {
  display: flex;
  justify-content: space-between;
}

.imgzonasizq {
  max-width: 350px;
  margin-right: 20px;
}

/* -----Deportefav------- */

.deportefav > h2 {
  text-align: center;
}

/* -----Footer------- */
footer {
  background-color: rgb(24, 69, 199);
  color: rgb(255, 255, 255);
  padding: 30px;
  margin-top: 40px;
}

.containerf {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
}

.logotextf {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.yellowtailf {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-decoration: none;
}

.menufooter ul li {
  list-style: none;
}

.menufooter ul li a {
  text-decoration: none;
  color: white;
}

.foottext {
  color: white;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  width: 250px;
}

.foottext a:link,
.foottext a:visited {
  color: white;
}

.foottext a:hover {
  color: rgb(223, 113, 27);
  text-decoration: none;
}

/* -------------Tamaños Dispositivos----------------------------------------------------------- */

@media screen and (max-width: 970px) {
  header {
    display: block;
    text-align: center;
  }

  .container {
    max-width: 650px;
    display: flex;
    flex-direction: column;
  }

  .logo {
    align-items: center;
    justify-content: center;
  }

  .logotext {
    text-align: left;
  }

  .ilogo {
    width: 60px;
    transition: none;
  }

  .ilogo:hover {
    transform: none;
  }

  .menu {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 4px;
    font-size: 14px;
    font-weight: 700;
  }

  .menu > li:last-child {
    margin-right: 20px;
  }

  .containerf {
    max-width: 650px;
  }

  .foottext {
    font-size: 8px;
  }
  /* -------------Index970----------- */
  .swiper-container img {
    height: 400px;
  }

  .categoimg {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .categorias > p {
    font-size: 10px;
  }

  /* -------------zonas970---- */

  .sectimgderech {
    display: block;
  }

  .sectimgizq {
    display: block;
    width: 100%;
  }

  .secttext {
    width: auto;
  }

  .imgzonas,
  .imgzonasizq {
    max-width: 100%;
    margin-left: 0px;
  }

  .sectimg {
    width: auto;
  }

  /* -------------Categorias970---- */
  .cat {
    display: block;
    width: 100%;
    text-align: center;
  }

  .categorias {
    padding-bottom: 40px;
  }

  .column1,
  .column2 {
    width: 100%;
  }

  .imglist {
    width: 100%;
  }

  /* -------------presentacion970---- */
  .presentacion {
    max-width: 650px;
  }

  /* -------------referencias970---- */
  .referencias,
  .reflist,
  .ref {
    max-width: 650px;
  }
}

/* ------------- -Index 680 ----------------------------------------------- */
@media screen and (max-width: 680px) {
  header {
    display: block;
    text-align: center;
  }

  .categorias {
    display: block;
  }

  .section-a,
  .section-b {
    max-width: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .categoimg {
    max-width: none;
  }

  .containerf {
    display: block;
  }

  .menufooter ul li {
    text-align: center;
  }

  .foottext {
    text-align: center;
  }

  #animacioncss {
    width: 100px;
    margin: 0 auto;
  }
}
